/**{*/
/*  box-sizing: border-box;*/
/*}*/
.videoComponent {
  height: 600px;
  border: 10px solid white;
  display: flex;
}

.videoComponent .video {
  width: 72%;
  height: 100%;
}

.videoComponent .video .video_body {
  height: calc(100% - 140px);
  border: 10px solid white;
  display: flex;
}

.videoComponent .video .video_body .video_body_1 {
  width: calc(50% - 10px);
  border-right: 10px solid white;
}

.videoComponent .video .video_body .video_body_2 {
  width: calc(50% - 10px);
  border-left: 10px solid white;
}

.videoComponent .video .video_control {
  height: 100px;
  border: 10px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoComponent .video .video_control .icon-control + .icon-control {
  margin-left: 5%;
}

.videoComponent .video .video_control .icon-control:last-child {
  margin-left: 10%;
}

.videoComponent .chat {
  width: 28%;
  height: 100%;
}

.videoComponent .chat .chat_body {
  height: calc(100% - 140px);
  border: 10px solid white;
}

.videoComponent .chat .chat_body .message  {
  display: flex;
  padding: 15px;
}

.videoComponent .chat .chat_body .message .message__user  {
  width: 60px;
  height: 60px;
}

.videoComponent .chat .chat_body .message .message__user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.videoComponent .chat .chat_body .message .message__content  {
  flex-grow: 1;
  margin-left: 5%;
  background-color: #438bd1;
  border-radius: 30px;
  padding: 5px 0 0 20px;
}

.videoComponent .chat .chat_body .message .message__content p {
  color: #fff;
  margin: 0;
}

.videoComponent .chat .chat_sender {
  height: 100px;
  border: 10px solid white;
}
.chat_sender{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  /*box-sizing: border-box;*/
}


#clip{
  display: none;
}
.chat_form{
  /*box-sizing: border-box;*/
  background-color: #fdfdfd;
  border-right: 2px;
  height: 80%;
  width: 90%;
  display: flex;
  align-items: center;
justify-content: center;
}
.chat_clip{
  margin-left: 3px;
}
.chat_submit_container{
position: relative;
  display: flex;
  align-items: center;
}
.chat_text{
  height: 40px;
  color: #408de3;
  background-color: #e5e7e9;
  outline: none;
  border: none;
  border-radius: 3px;
}
.chat_text::placeholder{
  color: #408de3;
}
.chat_submit{
  border: none;
  background-color: #fd0000;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 7px;
  top: 9px;
  outline: none;
}
.chat_submit img{
  width: 12px;
}
.chat_smile{
  margin-left: 5px;
}



